Vinícius: pré-processamento

Cheban: votação normal e ponderada

Claudia: stacking e avaliação

# Combinação de modelos (ensemble)

### Modelos base:

- KNN
- SVM
- Árvore de decisão


### Métodos de combinação:
- Moda: https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.VotingClassifier.html#sklearn.ensemble.VotingClassifier


- Stacking: https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.StackingClassifier.html#sklearn.ensemble.StackingClassifier


- Voto ponderado https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.VotingClassifier.html#sklearn.ensemble.VotingClassifier


### Datasets:
- Jogo da velha: https://archive.ics.uci.edu/ml/datasets/Tic-Tac-Toe+Endgame


- Transfusão de sangue: https://archive.ics.uci.edu/ml/datasets/Blood+Transfusion+Service+Center


- Identificação do tipo de vidro: https://archive.ics.uci.edu/ml/datasets/Glass+Identification


- Incêndio em florestas da Argélia: https://archive.ics.uci.edu/ml/datasets/Algerian+Forest+Fires+Dataset++


- Xadrez: https://archive.ics.uci.edu/ml/datasets/Chess+%28King-Rook+vs.+King%29


#Avaliação:

- Acurácia

### **Aprendizado de Máquina 2**
#### Trabalho 1: Combinação de classificadores heterogêneos

Prof. Dr. Diego Furtado

  **Alunos:**

    Claudia Sanches
    Gabriel Cheban
    Vinicius Carvalho

### **Descrição do Projeto:** 

####Este projeto é sobre o estudo de combinação de modelos heterogêneos. O objetivo é aplicar os métodos de combinação Moda, Stacking e Voto Ponderado para 5 diferentes datasets utilizando o KNN, SVM e árvore de decisão como modelos.####
---

In [5]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive/MeuDrive/AM2-T1')

ValueError: ignored

# Blood Transfusion

In [ ]:
blood_data = pd.read_csv('/content/Datasets/Blood Transfusion/transfusion.data')

In [ ]:
blood_data.shape

(28055, 7)

In [ ]:
blood_data.head()

   a  1  b  3  c  2  draw
0  a  1  c  1  c  2  draw
1  a  1  c  1  d  1  draw
2  a  1  c  1  d  2  draw
3  a  1  c  2  c  1  draw
4  a  1  c  2  c  3  draw

### Dados faltantes

In [ ]:
missing_values_columns = blood_data.count()[blood_data.count() < blood_data.shape[1]].index.to_list()
blood_data.count()[blood_data.count() < blood_data.shape[1]]

Series([], dtype: int64)

# Chess

In [ ]:
chess_data = pd.read_csv('/content/Datasets/Chess/krkopt.data')

In [ ]:
chess_data.shape

(28055, 7)

In [ ]:
chess_data.head()

   a  1  b  3  c  2  draw
0  a  1  c  1  c  2  draw
1  a  1  c  1  d  1  draw
2  a  1  c  1  d  2  draw
3  a  1  c  2  c  1  draw
4  a  1  c  2  c  3  draw

In [ ]:
missing_values_columns = chess_data.count()[chess_data.count() < chess_data.shape[1]].index.to_list()
chess_data.count()[chess_data.count() < chess_data.shape[1]]

Series([], dtype: int64)

# Forest

In [ ]:
forest_data = pd.read_csv('/content/Datasets/Forest/Algerian_forest_fires_dataset.csv')

In [ ]:
forest_data.shape

(244, 14)

In [ ]:
forest_data.head()

   day  month  year  Temperature   RH  ...    DC  ISI  BUI  FWI    Classes
0    1      6  2012           29   57  ...   7.6  1.3  3.4  0.5  not fire
1    2      6  2012           29   61  ...   7.6  1.0  3.9  0.4  not fire
2    3      6  2012           26   82  ...   7.1  0.3  2.7  0.1  not fire
3    4      6  2012           25   89  ...   6.9  0.0  1.7    0  not fire
4    5      6  2012           27   77  ...  14.2  1.2  3.9  0.5  not fire

[5 rows x 14 columns]

In [ ]:
missing_values_columns = forest_data.count()[forest_data.count() < forest_data.shape[1]].index.to_list()
forest_data.count()[forest_data.count() < forest_data.shape[1]]

Series([], dtype: int64)

In [ ]:
forest_data.drop(columns=['day','month','year'],inplace=True)

In [ ]:
forest_data.head()

   Temperature   RH   Ws  Rain   FFMC  DMC    DC  ISI  BUI  FWI    Classes
0           29   57   18    0.0  65.7  3.4   7.6  1.3  3.4  0.5  not fire
1           29   61   13    1.3  64.4  4.1   7.6  1.0  3.9  0.4  not fire
2           26   82   22   13.1  47.1  2.5   7.1  0.3  2.7  0.1  not fire
3           25   89   13    2.5  28.6  1.3   6.9  0.0  1.7    0  not fire
4           27   77   16    0.0  64.8  3.0  14.2  1.2  3.9  0.5  not fire

# Glass

In [6]:
glass_data = pd.read_csv('/content/Datasets/Glass/glass.data')

FileNotFoundError: ignored

In [ ]:
glass_data.shape

(213, 11)

In [3]:
glass_data.head(15)

NameError: ignored

In [ ]:
glass_data.drop(columns=['day','month','year'],inplace=True)

In [ ]:
missing_values_columns = glass_data.count()[glass_data.count() < glass_data.shape[1]].index.to_list()
glass_data.count()[glass_data.count() < glass_data.shape[1]]

Series([], dtype: int64)

# Tic Tac Toe

In [ ]:
tic_data = pd.read_csv('/content/Datasets/Tic-tac-toe/tic-tac-toe.data')

In [ ]:
tic_data.shape

(957, 10)

In [ ]:
tic_data.head(200)